{% extends 'base.html.twig' %}

{% block title %}Emprunter un livre{% endblock %}

{% block body %}
    <h1>Emprunter le livre "{{ book.titre }}"</h1>

    {{ form_start(form) }}
        {{ form_row(form.nomEtudiant) }}
        {{ form_row(form.prenomEtudiant) }}
        {{ form_row(form.numCarteEtudiant) }}
        {{ form_row(form.telephoneEtudiant) }}
        {{ form_row(form.dateEmprunt) }}
        {{ form_row(form.dateRetour) }}
         {# Afficher le champ 'etat_retour' comme un choix #}
         {{ form_row(form.etat_retour) }}

        <button type="submit" class="btn btn-danger">enregistrer</button>
        
    {{ form_end(form) }}

    <a href="{{ path('book_list') }}" class="btn btn-secondary">Retour à la liste des livres</a>
{% endblock %}
